.icon-hum {
  display: inline-block;
  width: 30px;
  height: 27px;
  background-image: url("../images/hum.png");
  background-repeat: no-repeat;
  background-repeat: 30px 27px;
  background-position: center center; }
